/* * {
  border: 1px solid gold;
} */

/* GENERAL */
body {
  background-color: darkgray;
  color: whitesmoke;
}
header {
  display: flex;
  height: 300px;
  background-color: teal;;
}
.nav2 {
  display: flex;
  font-size: 0.8em;
}
.menu1 {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 150px;
}
.menu1, .subMenu1 {
  list-style: none;
}
.menu1 > li > a > img {
  height: 30px;
  width: 30px;
}
.menu1 > li > a, .subMenu1 > li > a {
  color: #E3D8A6;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  text-align: center;
}
.menu1 ul {
  height: 0;
  left: -20px;
  opacity: 0;
  position: absolute;
  transition: all .5s ease;
  top: 30px;
  width: 100%;
}

.menu1 li:hover ul {
  height: 200px;
  opacity: 1;
  transform: translateY(0);
}
.body {
  background-color: #002;
  text-align: center;
}
.headSrContainer {
  display: flex;
  flex-direction: column;
}
.centralHeader {
  font-size: 0.9em;
}
.subCentralHeader {
  font-size: 0.7em;
}
.searchBar input {
  width: 60%;
  height: 20px;
}
.menu ul a {
  color: #E3D8A6;
  display: block;
  padding: 5px 10px;
}
.nav3 {
  display: flex;
  justify-content: center;
}
.nav3 a {
  margin: 5px;
  text-decoration: none;
  color: teal;
}
footer {
  background-color: black;
}
.footerCol {
  display: flex;
}
.list-item {
  list-style: none;
}
.list-item > a {
  text-decoration: none;
}
