@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');

// CSS Variables
:root {
    --primary: #327CCB;
    --bg: black;
    --fg: white;
}

// Default stylings
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', 'Arial', 'Monospace';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: var(--fg);
    background: lighten(black, 5%);
    overflow-x: auto;
    overflow-y: scroll;
    letter-spacing: 0.5px;
}

a {
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

input, textarea {
    font-family: inherit;
}

*.easing {
    transition: transform 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-property: transform, opacity, background, width, height;
}
