@import "../../style.scss";

div.note-header {
    display: flex;
    align-items: center;
    padding: 15px;

    h2 {
        padding: 0 0 0 15px;
        font-size: 24px;
        font-weight: 400;
        span {
            font-size: 14px;
            font-weight: bold;
        }
    }
}

a.go-back {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 30px;
    padding: 0 15px;
    background: $pc;
    color: $bg;
    border-radius: 5px;
}

div.note-content {
    padding: 15px;
    p {
        font-size: 14px;
    }
}
