<div class="content">
    <div class="wrap">
        <div class="note-header">
            <a class="go-back">
                <i class="fas fa-chevron-left"></i>
                Go Back
            </a>
            <h2>
                Send Chris Dogecoin
                <span>
                    Today at 14:20
                </span>
            </h2>
        </div>
        <div class="note-content">
            <p>
                Send Chris Dogecoin. Send Chris Dogecoin. Send Chris Dogecoin. Send Chris Dogecoin.
                Send Chris Dogecoin. Send Chris Dogecoin. Send Chris Dogecoin. Send Chris Dogecoin.
                Send Chris Dogecoin. Send Chris Dogecoin. Send Chris Dogecoin. Send Chris Dogecoin.
            </p>
        </div>
    </div>
</div>
